fastapi
uvicorn
streamlit
plotly
pandas
scikit-learn
sqlalchemy
pydantic
stable-baselines3
gymnasium
xlrd
openpyxl
requests

chromadb
langchain-community

psutil
GPUtil
openpyxl

passlib
bcrypt
PyJWT
fpdf2
matplotlib
xlsxwriter
